asgiref==3.9.1
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
Django==5.2.4
filelock==3.19.1
Flask==2.2.5
Flask-SQLAlchemy==3.1.1
fsspec==2025.7.0
greenlet==3.2.4
huggingface-hub==0.34.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysqlclient==2.2.7
packaging==25.0
PyMySQL==1.1.1
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.5
SQLAlchemy==2.0.43
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.0.2
